@charset "utf-8";
* {
  box-sizing: border-box;
}
header {
  background-image: url(../images/slider_img.jpg);
  background-size: cover;
  height: 500px;
}
.hdr {
  display: flex;
}
.title {
  padding: 20px 60px;
}
.gyoen {
  padding: 70px;
}
header h1 {
  color: #fff;
  font-size: xx-large;
  margin-bottom: 20px;
}
header p {
  color: #fff;
  margin-bottom: 20px;
}
.gym {
  font-size: 40px;
}
.nav {
  background-color: #b63472;
  width: 15%;
  color: #fff;
  height: 200px;
  padding: 30px;
  position: relative;
  left: 100px;
}
nav ul li {
  margin-bottom: 5px;
}
main {
  background-color: #f0f0f0;
}
.yoga{
  display: flex;
  justify-content: center;
  margin: 0 5%;
}
.sports {
  background-color: #fff;
  width: 70%;
  height: 470px;
  position: relative;
  top: -70px;
}
.plank {
  display: flex;
}
.plank img {
  width: 65%;
  height: 65%;
  position: relative;
  top: -70px;
  left: 10px;
}
.women {
  width: 100%;
  text-align: left;
  margin: 20px;
}
.women h2 {
  font-size: x-large;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.women p {
  margin-bottom: 7px;
}
.detail {
  color: #b63472;
}
.new {
  padding: 10px;
  position: relative;
  top: -30px;
}
.new h2 {
  font-size: xx-large;
  margin-bottom: 15px;
}
.new p {
  margin-bottom: 7px;
}
.btn {
  display: inline-block;
  background-color: #c86092;
  color: #fff;
  padding: 20px;
  border-bottom: #a7376c 4px solid;
}
.shape {
  width: 290px;
  height: 500px;
  position: relative;
  top: -20px;
}
.course {
  background-image: url(../images/feature_bg.png);
  background-repeat: no-repeat;
  height: 680px;
  background-size: cover;
}
.select {
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
.select h2 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.fab {
  color: #fff;
  display: flex!important;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  top: -50px;
  box-sizing: border-box;
}
i {
  justify-content: center;
  font-size: 5rem;
}
.run {
  width: 30%;
  margin: 10px 10px;
}
.run h2 {
  font-size: larger;
  font-weight: bold;
  position: relative;
  top: -20px;
}
.run p {
  margin-bottom: 15px;
}
.swim {
  width: 30%;
  margin: 10px 10px;
}
.swim h2 {
  font-size: larger;
  font-weight: bold;
  position: relative;
  top: -20px;
}
.swim p {
  margin-bottom: 15px;
}
.dum {
  width: 30%;
  margin: 10px 10px;
}
.dum h2 {
  font-size: larger;
  font-weight: bold;
  position: relative;
  top: -20px;
}
.dum p {
  margin-bottom: 15px;
}
.radius {
  background-image: url(../images/coaches_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 659px;
  padding: 0 5%;
}
.radius div {
  background: linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -moz-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -o-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 120px;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}
.radius .gm1 {
  background: linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -moz-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -o-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 180px;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}
.buru {
  padding: 0 20px;
}
.buru:hover {
  animation: fluffy1 0.6s ease infinite;
}
@keyframes fluffy1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.yg1 {
  position: relative;
  top: -150px;
}
.ph1 {
  position: relative;
  top: -50px;
  left: 20px;
}
.ph2 {
  position: relative;
  top: 20px;
  left: 40px;
}
.ph3 {
  position: relative;
  top: -20px;
  left: 20px;
}
.ph4 {
  position: relative;
  top: 50px;
}
.yg2 {
  position: relative;
  top: -40px;
}
.ph5 {
  position: relative;
  top: -130px;
}
.ph6 {
  position: relative;
  top: -30px;
  left: -10px;
}
.ph7 {
  position: relative;
  top: 30px;
}
.gm1{
  position: relative;
  top: -120px;
}
.ph8 {
  position: relative;
  top: 30px;
}
.ph9 {
  position: relative;
  top: 10px;
  left: 20px;
}
.ph10 {
  position: relative;
  top: -180px;
  left: -30px;
}
.prog {
  justify-content: center;
}
.prog h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 70px 0 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 5%;
}
.flex img {
  width: 90%;
  padding: 20px 5px;
}
.pink {
  background-color: #b63472;
  color: #fff;
  text-align: center;
  width: 70%;
  position: relative;
  top: -50px;
  left: 40px;
}
.pink h3 {
  font-size: larger;
  padding: 20px 0 5px;
}
.pink h4 {
  padding-bottom: 15px;
}
footer {
  background: linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -webkit-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -moz-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
  background: -o-linear-gradient(left ,#8165a6, #d83f87) repeat scroll 0 0;
}
.ftr {
  display: flex;
}
.boot p {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.lady {
  background-color: #fff;
  display: flex;
  width: 50%;
}
.lady img {
  position: relative;
  top: 70px;
  left: 100px;
}
.pose {
  width: 50%;
}
.dammy h2 {
  font-size: x-large;
  font-weight: bold;
  padding-top: 70px;
}
.dammy p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.link {
  width: 20%;
  color: #fff;
  padding: 70px 20px;
}
.link h2 {
  font-size: large;
  font-weight: bold;
  padding-bottom: 20px;
}
.link li {
  padding-bottom: 10px;
}
.contact {
  width: 30%;
  color: #fff;
  padding: 70px 20px;
}
.contact h3 {
  font-size: large;
  font-weight: bold;
  padding-bottom: 20px;
}
.contact p {
  text-align: left;
  padding-bottom: 10px;
}
.contact i {
  font-size: 1rem;
  padding-right: 5px;
}
span {
  color: #fff;
  font-weight: bold;
  font-size: large;
}