<!DOCTYPE html>
<html lang="ja">
  <head>
    <mate chareset="utf-8">
    <title>3カラム</title>
　　 <mate name="viewport" content="width=device,initial-scale=1.0">
     <!--Reset CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="wrap">
      <header class="header">ヘッダー</header>
      <main class="main">
        <aside class="left-side">サイドメニュー１</aside>
        <div class="main-content">メインコンテンツ</div>
        <aside class="right-side">サイドメニュー2</aside>
      </main>  
      <footer class="footer">フッター</footer>
    </div>
  </body>
</html>