<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta chareset="utf-8">
    <title>3カラム応用</title>
    <meta name="viewport" content="width=device,intial-scale=1.0">
    <meta    http-equiv="X-UA-Compatible" content="ie=edge">
      <!--Reset CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
   <!-- <div class="wrap"> -->
     <header class="header">ロゴ画像</header>
     <main class="main">
       <div class="main-content">
         <li>テキストテキストテキストテキスト</li>
         <li>テキストテキストテキストテキスト</li>
         <li>テキストテキストテキストテキスト</li>
         <li>テキストテキストテキストテキスト</li>
       </div>
       <div class="sub-title">
         <h4>サブタイトル</h4>
         <p>product1</p>
         <p>product2</p>
         <p>product3</p>
         <p>product4</p>
       </div>
       <div class="sub-title">
         <h4>サブタイトル</h4>
         <p>product1</p>
         <p>product2</p>
         <p>product3</p>
         <p>product4</p>
       </div>
       <aside class="side side1">item1</aside>
       <aside class="side side2">バナー画像</aside>
     </main>
     <footer class="footer">
       <p>Copyright (C) 2018 テキストテキストテキストテキストテキストテキスト</p>
     </footer>
   <!-- </!--> 
  </body>
</html>