.wrap {
  min-height: 100%;
  overflow: hidden;
}
aside {
  background: #205484;
  float: left;
  width: 30%;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}

p {
  margin-top: 3rem;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
  font-size: 2rem;
}

.menu {
  text-align: center;
  display: block;
}

.menu ul {
  display: inline-block;
}

.menu ul li {
  color: #ffffff;
  margin: 2rem;
  text-align: left;
}

.menu ul li:nth-child(6) {
  color: #fbfd66;
}

main {
  float: left;
  width: 70%;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}

main p img {
  width: 100%;
}

.mag {
  margin: 0 10%;
}
.welcome h2 {
  color: #205484;
  text-align: left;
  font-size: 2rem;
  margin: 4rem 0;
}

.welcome p {
  text-align: left;
  line-height: 2;
  margin-bottom: 10%;
}

.about {
  display: flex;
}

.about h2 {
  color: #205484;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 2rem;
}

.drink img {
  width: 80%;
  height: 75%;
}

.word {
  width: 70%;
  padding: 0;
}

.word p {
  text-align: left;
  line-height: 2;
  margin-top: 15px;
}

.read {
  text-align: left;
}

button {
  color: #fff;
  background-color: #205484;
  width: 30%;
  padding: 1rem;
  border: none;
  font-weight: lighter;
}

.gallery h2 {
  color: #205484;
  text-align: left;
  margin: 20% 0 5%;
  font-size: 2rem;
}

.galleryimg {
  display: flex;
}

.galleryimg img {
  width: 20%;
  margin-right: 2%;
}

.second h2 {
  color: #205484;
  text-align: left;
  margin: 20% 0 5%;
  font-size: 2rem;
}

.secondimg {
  display: flex;
}

.secondimg img {
  width: 33%;
  margin-right: 2%;
}

.third h2 {
  color: #205484;
  text-align: left;
  margin: 20% 0 5%;
  font-size: 2rem;
}

.thirdimg {
  display: flex;
}

.thirdimg img {
  width: 25%;
  margin-right: 2%;
}

.contact h2 {
  color: #205484;
  text-align: left;
  margin: 20% 0 5%;
  font-size: 2rem;
}

.form {
  box-sizing: border-box;
  width: 50%;
  margin-right: 5%;
}

.nullam {
  width: 50%;
  line-height: 1rem;
}

.nullam p {
  line-height: 2;
  margin-top: 15px;
  text-align: left;
}
input {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  border: 1px solid;
  border-color: #577f9d;
}

textarea {
  width: 100%;
  border-color: #577f9d;
  margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
  color: #577f9d;
}

.us {
  display: flex;
}

footer {
  margin-top: 30px;
  margin-bottom: 20px;
}

span {
  color: #577f9d;
}